$primary-font: Catamaran,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$secondary-font: "Open Sans",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$primary-color: #161616;
$red-color: #EC1D24;
$secondary-color: #ccc;
$header-text-color: #fff;
$header-text-link-color: #fff;
$desktop: 768px;